#{$CELL} {
    width: 4em;
    height: 4em;
    margin: 1px;

    background-color: white;
    border-radius: 2em;
}

.player1 {
    background-color: #{$RED};
}

.player2 {
    background-color: #{$YELLOW};
}