#{$COLUMN} {
	&__unit {
		cursor: pointer;
		background-color: #{$BG_COLOR};
		border: 2px solid #{$BG_COLOR};
	}

	&:hover::after {
		font-family: "Material Icons";
		font-style: normal;
        font-weight: 400;
        font-size: 2em;
        content: "\e5d8";
        display: block;
        text-align: center;
	}
}