/* Selector */
$BOARD: ".board";
$HEADER: ".header";
$GRID: ".grid";
$COLUMN: ".column";
$CELL: ".cell";
$RESTARTER: ".header__restart";

$GRID_BG_COLOR: rgb(97, 219, 251);
$HOVEROVER_BG: hsla(0, 0%, 100%, 0.25);
$RED: red;
$YELLOW: yellow;